 body {
     font-family: Arial, sans-serif;
     text-align: center;
     padding: 20px;
 }

 h1 {
     color: #333;
 }

 #content {
     margin-top: 20px;
 }

 #cds-pr-btn{
    padding: 16px 24px;
    outline: none;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 12px;
    font-size: 32px;
 }